

.nav{
	background-color: coral;
  height: 50px;
}



.country-dropdown{
  background-color: #fff2e6;
  color: blue;
  padding-bottom: 10px;
}

.choose{
  padding-top: 10px;
  padding-left: 20px;
}



.dropbtn {
  background-color: white;
  color: black;
  font-size: 20px;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid silver;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}




.country-name{
  font-size: 20px;
  margin: 10px;
}



.country-list {
  display: flex;
  margin-left: -10px;
}

/* ghhjg */











/* ffhjhj*/









.welcome{
  
	border-radius: 15px;
	margin-top: 50px;
	margin-left: 10px;
	
	width: 95%;
  height: 250px;
	padding-bottom:50px;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
}  

.txt-title{
  height: 80px;
}
.welcome-txt{
	padding: 20px;
  font-size: 40px;
  color: rgb(20,30,130);
}


.search-components{
  display: flex;
}

.autocomplete {
  
  position: relative;
  display: inline-block;
}
.input {
  border: 0.8px solid grey;
  background-color: white;
  color: blue;
  margin-top: 40px;
  margin-left: 10px;
  padding: 8px 9px;
  font-size: 16px;
  width: 250px;
  
  border-radius: 55px;
}

.input:focus {
  border-radius: 5px;
  border: 1px solid blue;
}


.search-btn-aTag {
  position: absolute;
  border: 0.8px solid grey;
  right: 45px;
  margin-top: 40px;
  background-color: white;
  color: white;
  padding: 5px;
  font-size: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
 
}
.search-btn-aTag:focus {
  border-radius: 5px;
  background: coral;
  
}


.search-icon{
  width: 35px;

}



.autocomplete-items {
  position: absolute;
  width: 225px;

  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;

  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 105%;
  left: 20px;
  right: 0;
}
.autocomplete-items div {
  padding: 8px;
  cursor: pointer;
  background-color: #fff; 
  border-radius: 4px;
  border-bottom: 1px solid blue; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}





.show {display: block;}





.title-txt {
  font-size: 40px;
  padding-top: 70px;
  padding-bottom: 30px;
  margin-left: 20px;
  text-shadow: 2px 2px 5px aqua;
}


.top-deals{
  display: flex;
  padding-top: 20px;
  margin-right: 5px;

}

.card-img-top{
  width: 75%;
  margin-left: 40px;
  padding-top:10px; 
  padding-bottom: 20px;

}

.card-body{
  border-top: 0.5px solid grey;
}


.card{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  margin: 5px;

}

.price-color{
  color: blue;
  font-size: 15px;
}

.discount-color{
  color: coral;
  font-size: 18px;
}

}

#showMoreTopDeals{
  display: none;
}


.show-btn{
  margin-top: 50px;
  margin-left: 80px;
  display: show;  
  color: white;
  

}

.show-atag{
  padding: 10px 20px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  border-radius: 20px;
  
}










.brand{
  
  background-color: white;
  padding-top: 80px;
  margin-left: 40px;
  padding-bottom: 50px;
  float: left;
  font-size: 45px;
}





.colorDot{
  background-color: black;
  border-radius: 5px;
  width: 18px;
  height: 18px;
  float: right;
  margin-right: 0px ;

}

.brandlogo{
  width: 25px;
  padding-left: 8px;
}






.box{
  position: relative;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 15px;
  width: 90%;
  height: 165px;
  background-color: rgb(255,255,255);
 
  padding-bottom: 30px;
}

.img-box{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 150px;
  border-right: 0.2px dotted grey ;
  padding-right: 20px;

  
}

.phone-img{
  position: absolute;
  bottom: 15px;
  padding-top:  10px;
  width: 90px;
  height: 110px;


} 



.link-txt{
  position: absolute;
  top: 5px;
  left: 110px;
  font-size: 20px;

  
}



.price-value{
  position: absolute;
  top: 62px;
  left: 130px;
  font-size: 25px;
    color: blue;


}



.normal-price{
  position: absolute;
  top: 94px;
  left: 130px;
  font-size: 18px;
  opacity: 0.4;
}

.discount{
  position: absolute;
  top: 50px;
  left: 230px;
  font-size: 15px;
}


.off{
  font-size: 20px;
  color: blue;
}

.brand-se{
  position: absolute;
  bottom: 10px;
  width: 21px;
  left: 172px;
 
}

.link-button{
  position: absolute;
  bottom: 8px;
  right: 10px;
  padding: 8px 5px;
  background-color: orange;
  color: white;
  border-radius: 5px;
  
}

.link-button a{
   text-decoration: none;
   color: white;
  
   font-size: 15px;
}


/*
.iframe{
  border-radius: 20px;
  margin-top: 150px;
  
  margin-left: 0px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
  
}
*/



.list-box{
  display: flex;
  
  margin: 10px;
  width: 80%;
}


.img-div-opts{
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
  margin: 10px;
  border-radius: 6px;


}

.img-opts{
  margin: auto;
  margin-top: 4px;
  width: 65px;
  height: 80px;
  margin-left: auto;
  padding: 4px;  



}

.brand-opts{
  width: 70px;
  height: 70px;
  padding: 2px;  
}

#img-opts-3 {
  height: 80px;
}




.box-specs{
  position: relative;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 15px;
  width: 90%;
  height: 350px; 
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
}


.img-specs{
  margin: auto;
  margin-top: 10px;
  width: 300px;



}




.title-specs{
  font-size: 30px;
  margin: 30px;
  padding-top: 20px;
}


.specs{
  position: relative;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 18px;
  

  width: 90%;
  height: 89%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
   font-family: sans-serif;
}





.spec-box {
  display: flex;
  padding-bottom: 100px;
}

.spec-itm {
  margin-left: 30px;
}


.spec-img{
  width: 60px;
}

.spec-title {
  font-size: 20px;

}

.spec-value{
  font-size: 30px;
  margin-left:  80px ;
  margin-top: 15px;
  text-shadow: 2px 2px 5px red;

}

.note{
  font-size: 20px;
  margin-left:  80px ;
  margin-top: 25px;
}


.color-list{
  display: flex;
  flex-wrap: wrap;
  margin-left:  100px ;
  margin-top: 35px;

}

.color{
    margin: 20px;
  border-radius: 15px;
  width: 40px;
  height: 40px;
  
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
    
}



.search-title{
  margin: 40px;
  margin-top: 50px;
}

.country-img{
  width: 60px;
  border-radius: 10px;
  margin: 10px; 
}

.dropdown-item{
  width: 60px;
  border-radius: 10px;
  margin: 20px; 
}





.footer {
  height: 60px;
  border-radius: 15px;
  background-color: coral;
}







@media screen and (max-width: 400px) {
  
    .welcome {
      margin-left: 2%;
      
      width: 95%;
      height: 250px;
    }

    #search-bar{
      margin-top: 50px;
      margin-left: 15px;


    }

    .welcome-txt{
      padding: 20px;
      font-size: 30px;
    }


    


    #search-btn{
      
      margin-right: 20px;

      
    }

    .card-img-top{
      width: 75%;
      margin-left: 30px;
      padding-top:10px; 
      padding-bottom: 20px;
    }

    .showMore{
      padding: 7px 30px;
      border-radius: 50px;
      background-color: powderblue;
      margin-left: 140px ;
    }


}