
<!DOCTYPE html>
<html>

<head>
        <title>iphone se 2020</title>
        <link rel="stylesheet" type="text/css" href="/styles/main.css">
        <script src="/js/india/element.js"></script>

</head>
<body>


        
        <div class="nav">
                <a href="/templates/india.html"><img class="back" src="https://img.icons8.com/fluent/48/000000/back.png"/></a>

        </div>

        <p class="search-results">Search results</p>


        <div id="box1" class="box"></div>
        <div id="box2" class="box"></div>
        <div id="box3" class="box"></div>
        <div id="box4" class="box"></div>
        <div id="box5" class="box"></div>
       

      
        <script >


var i =1;
for (i=1 ; i<6; i++){
        elementJS(i);
}





  fetch('/json/india/flipkart.json')
  .then(res => res.json())
  .then((json) => {

      phoneData(1,42 , json , "f" ,  42500 , "iPhone SE 2020 (Red, 64 GB)" , "https://rukminim1.flixcart.com/image/416/416/k9loccw0/mobile/6/8/g/apple-iphone-se-mxvv2hn-a-original-imafrcqmfxhcrpsb.jpeg?q=70");
      phoneData(2, 43 , json , "f" , 47800 , "iPhone SE 2020 (White, 128 GB)" , "https://rukminim1.flixcart.com/image/416/416/k9loccw0/mobile/6/b/z/apple-iphone-se-mxd12hn-a-original-imafrcqfsuzwa3dz.jpeg?q=70");
      phoneData(3, 44 , json , "f" , 58300 , "iPhone SE 2020 (Black, 256 GB)" , "https://rukminim1.flixcart.com/image/416/416/k9loccw0/mobile/p/z/q/apple-iphone-se-mxd02hn-a-original-imafrcpjfehbbqgb.jpeg?q=70");
      phoneData(4, 42 , json , "f" , 42500 , "iPhone SE 2020 (Black, 64 GB)" , "https://rukminim1.flixcart.com/image/416/416/k9loccw0/mobile/p/z/q/apple-iphone-se-mxd02hn-a-original-imafrcpjfehbbqgb.jpeg?q=70");
      document.getElementById("link4").href = "https://www.flipkart.com/apple-iphone-se-black-64-gb/p/itm832dd5963a08d?pid=MOBFRFXHCKWDAC4A&lid=LSTMOBFRFXHCKWDAC4AEQROVZ&marketplace=FLIPKART&sattr[]=color&sattr[]=storage&st=color&otracker=AS_QueryStore_OrganicAutoSuggest_1_9_na_na_na";

      phoneData(5, 42 , json , "f" , 42500 , "iPhone SE 2020 (White, 64 GB)" , "https://rukminim1.flixcart.com/image/416/416/k9loccw0/mobile/6/b/z/apple-iphone-se-mxd12hn-a-original-imafrcqfsuzwa3dz.jpeg?q=70");
      document.getElementById("link5").href = "https://www.flipkart.com/apple-iphone-se-white-64-gb/p/itmaf546e27c4eaf?pid=MOBFRFXHMEZRCXRV&lid=LSTMOBFRFXHMEZRCXRVDHSVH1&marketplace=FLIPKART&sattr[]=color&sattr[]=storage&st=color";

    

  }) 


    imgSize(1,6,160,280,10);

       
                









        </script>

        <script src="/js/main.js"></script>
        

</body>
</html>








