
<!DOCTYPE html>
<html>
<head>
        <title>iphone 11 pro</title>
        <link rel="stylesheet" type="text/css" href="/styles/main.css">
        <script src="/js/india/element.js"></script>

</head>
<body>


        
        <div class="nav">
           <a href="/templates/india.html"><img class="back" src="https://img.icons8.com/fluent/48/000000/back.png"/></a>
        </div>
        <p class="search-results">Search results</p>


        <div id="box1" class="box"></div>
        <div id="box2" class="box"></div>
        <div id="box3" class="box"></div>
        <div id="box4" class="box"></div>
        <div id="box5" class="box"></div>
        <div id="box6" class="box"></div>
        <div id="box7" class="box"></div>
        <div id="box8" class="box"></div>
        <div id="box9" class="box"></div>
        <div id="box10" class="box"></div>
        <div id="box11" class="box"></div>
        <div id="box12" class="box"></div>
        <div id="box13" class="box"></div>
        <div id="box14" class="box"></div>
       

      
        <script >


var i =1;
for (i=1 ; i<15; i++){
        elementJS(i);
}



fetch('/json/india/amazon_in.json')
  .then(res => res.json())
  .then((json) => {


     phoneData(5, 8 , json , "a" ,  73600 , "iPhone 11 (Green, 128 GB)" , "https://images-na.ssl-images-amazon.com/images/I/510gwFgjz5L._SL1024_.jpg");
     phoneData(4, 9 , json , "a" ,  73600 , "iPhone 11 (Purple, 128 GB)" , "https://images-na.ssl-images-amazon.com/images/I/51oXVi%2BZhhL._SL1024_.jpg");
     
     
     phoneData(3, 10 , json , "a" ,  73600 , "iPhone 11 (Red, 128 GB)" , "https://images-na.ssl-images-amazon.com/images/I/5103Xi7yQgL._SL1024_.jpg");
     phoneData(2, 11 , json , "a" ,  68300 , "iPhone 11 (Black, 64 GB)" , "https://images-na.ssl-images-amazon.com/images/I/51kGDXeFZKL._SL1024_.jpg");
     phoneData(1, 12 , json , "a" ,  68300 , "iPhone 11 (White, 64 GB)" , "https://images-na.ssl-images-amazon.com/images/I/51o5RmQtroL._SL1024_.jpg");

    
    


     
  })

  fetch('/json/india/flipkart.json')
  .then(res => res.json())
  .then((json) => {

      phoneData(7, 21 , json , "f" ,  68300 , "iPhone 11 (Black, 64 GB)" , "https://rukminim1.flixcart.com/image/416/416/k2jbyq80pkrrdj/mobile-refurbished/x/j/s/iphone-11-128-d-mwm02hn-a-apple-0-original-imafkg242ugz8hwc.jpeg?q=70");
      phoneData(8, 22 , json , "f" , 68300 , "iPhone 11 (White, 64 GB)" , "https://rukminim1.flixcart.com/image/416/416/k2jbyq80pkrrdj/mobile-refurbished/k/y/d/iphone-11-256-u-mwm82hn-a-apple-0-original-imafkg25mhaztxns.jpeg?q=70");
      phoneData(9, 23 , json , "f" , 68300 , "iPhone 11 (Green, 64 GB)" , "https://rukminim1.flixcart.com/image/416/416/k2jbyq80pkrrdj/mobile-refurbished/u/z/t/iphone-11-256-c-mwmd2hn-a-apple-0-original-imafkg24wszdhzy3.jpeg?q=70");
      phoneData(10, 24 , json , "f" , 68300 , "iPhone 11 (Red, 64 GB)" , "https://rukminim1.flixcart.com/image/416/416/k2jbyq80pkrrdj/mobile-refurbished/q/z/g/iphone-11-128-a-mwm32hn-a-apple-0-original-imafkg25hjmuy98e.jpeg?q=70");
       phoneData(11, 25 , json , "f" , 73600 , "iPhone 11 (Black, 128 GB)" , "https://rukminim1.flixcart.com/image/416/416/k2jbyq80pkrrdj/mobile-refurbished/x/j/s/iphone-11-128-d-mwm02hn-a-apple-0-original-imafkg242ugz8hwc.jpeg?q=70");
       phoneData(12, 26 , json , "f" , 73600 , "iPhone 11 (White, 128 GB)" , "https://rukminim1.flixcart.com/image/416/416/k2jbyq80pkrrdj/mobile-refurbished/k/y/d/iphone-11-256-u-mwm82hn-a-apple-0-original-imafkg25mhaztxns.jpeg?q=70");
       phoneData(13, 27 , json , "f" ,73600 , "iPhone 11 (Purple, 128 GB)" , "https://rukminim1.flixcart.com/image/416/416/k2jbyq80pkrrdj/mobile-refurbished/y/k/z/iphone-11-64-a-mwlx2hn-a-apple-0-original-imafkg24ymsjav9h.jpeg?q=70");
       phoneData(14, 28 , json , "f" , 84100 , "iPhone 11 (White, 256 GB)" , "https://rukminim1.flixcart.com/image/416/416/k2jbyq80pkrrdj/mobile-refurbished/k/y/d/iphone-11-256-u-mwm82hn-a-apple-0-original-imafkg25mhaztxns.jpeg?q=70");
        
  

        

  })  
       
                









        </script>

        <script src="/js/main.js"></script>
        

</body>
</html>






