
<!DOCTYPE html>

<html>



    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        
        <title>phones</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
       <link rel="icon" href="https://img.icons8.com/pastel-glyph/64/000000/smartphone-tablet.png" type="image/gif" sizes="16x16">
        

        <link rel="stylesheet" type="text/css" href="/styles.css">



        



    </head>    

    <body>


    	

 

    	 <div class="nav">
    	 	<img class="logo" src="https://img.icons8.com/pastel-glyph/64/000000/smartphone-tablet.png"/>
    	 </div>

    	 


        <div class="country-dropdown">
        	<p class="choose">Choose your country</p>

      	<div class="dropdown">
			  <button class="dropbtn"><img src="https://img.icons8.com/color/48/000000/india.png"/>India ▾</button>
         <div class="dropdown-content">
		    <a class="dropdown-item" href="/index.html"><img class="india" src="https://img.icons8.com/color/48/000000/globe--v1.png"/><span class="country-name">Worldwide</span></a>
		    <a class="dropdown-item" href="/spain/spain.html"><img src="https://img.icons8.com/cute-clipart/64/000000/spain-2.png"/><span class="country-name">Spain</span></a>
		    <a class="dropdown-item" href="/usa/usa.html"><img src="https://img.icons8.com/cute-clipart/64/000000/usa.png"/><sapn class="country-name">Usa</sapn></a>
         </div>
       </div>
    	 

	</div>

    	 <div lass="g-translate" id="google_translate_element"></div>



	


        
    	 
 



    	
  
  
  

      

  

		<div class="welcome">
			


			<form autocomplete="off" >
				<h1 class="welcome-txt">Find the best deals of your favourite phones.</h1>
			   <div class="search-components">
					
				
			   <div onclick="input()"  class="autocomplete" >

			    <input class="input" id="myInput" type="text" name="myCountry" placeholder="Search">
			  </div>
			  <div class="search-btn-div">
			    <a id="search-btn-div"  class="search-btn-aTag" onclick="subs()" href="#"><img class="search-icon" src="https://img.icons8.com/cotton/64/000000/search--v1.png"/></a>	
			  </div>

			</div>
			  
			</form>

		</div>	


		<!-- top deals -->

		<h3 class="title-txt">Top Deals</h3>




		<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img id="img1" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"    id="phone1">phone</h5>
			    <p class="card-text"      id="price1">Price:</p>
			    <p class="card-text"      id="difference1">%</p>
			    <div class="colorDot" id="color1">
			    	<p>.</p>
			    </div>

			    <a id="linkBtn1" href="#" class="btn btn-primary">Visit<img  id="brand1" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img  id="img2" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"    id="phone2">phone</h5>
			    <p class="card-text"      id="price2">Price:</p>
                <p class="card-text"      id="difference2">%</p>
                <div class="colorDot" id="color2">
			    	<p>.</p>
			    </div>

			    <a  id="linkBtn2" href="#" class="btn btn-primary">Visit<img  id="brand2" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>


		<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img  id="img3"  src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"    id="phone3">phone</h5>
			    <p class="card-text"      id="price3">Price: </p>
			    <p class="card-text"      id="difference3"></p>
			    <div class="colorDot" id="color3">
			    	<p>.</p>
			    </div>

			    <a id="linkBtn3" href="#" class="btn btn-primary">Visit<img  id="brand3" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img   id="img4" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"    id="phone4">iphone 11</h5>
			    <p class="card-text"      id="price4">Price: $7</p>
			    <p class="card-text"      id="difference4"></p>
			    <div class="colorDot" id="color4">
			    	<p>.</p>
			    </div>

			    <a  id="linkBtn4" href="#" class="btn btn-primary">Visit<img  id="brand4" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>
		


		<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img  id="img5"  src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone5">iphone 11</h5>
			    <p class="card-text"        id="price5">Price: $7</p>
			    <p class="card-text"        id="difference5"></p>
			    <div class="colorDot" id="color5">
			    	<p>.</p>
			    </div>
                <a  id="linkBtn5" href="#" class="btn btn-primary">Visit<img  id="brand5" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img  id="img6" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone6">iphone 11</h5>
			    <p class="card-text"      id="price6">Price: $7</p>
			    <p class="card-text"      id="difference6"></p>
			    <div class="colorDot" id="color6">
			    	<p>.</p>
			    </div>
			    <a  id="linkBtn6" href="#" class="btn btn-primary">Visit<img  id="brand6" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>




		<div class="show-btn">
			  <a href="/templates/topdeals.html" class="show-atag" >show more</a>
		    </div>

		



		<h3 class="title-txt">Apple</h3>

	

		<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img id="img7" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"     id="phone7">iphone 11</h5>
			    <p class="card-text"      id="price7">Price: $7</p>
		        <p class="card-text"      id="difference7"></p>
		        <div class="colorDot" id="color7">
		    	    <p>.</p>
		        </div>
			    <a  id="linkBtn7" href="#" class="btn btn-primary">Visit<img  id="brand7" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img id="img8" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone8">iphone 11</h5>
			    <p class="card-text"      id="price8">Price: $7</p>
		        <p class="card-text"      id="difference8"></p>
		        <div class="colorDot" id="color8">
		    	    <p>.</p>
		        </div>
			    <a  id="linkBtn8" href="#" class="btn btn-primary">Visit<img  id="brand8" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>
		


		<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img  id="img9" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone9">iphone 11</h5>
			    <p class="card-text"      id="price9">Price: $7</p>
		        <p class="card-text"      id="difference9"></p>
		        <div class="colorDot" id="color9">
		    	    <p>.</p>
		        </div> 
			    <a id="linkBtn9" href="#" class="btn btn-primary">Visit<img  id="brand9" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img   id="img10" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"       id="phone10">iphone 11</h5>
			    <p class="card-text"      id="price10">Price: $7</p>
		        <p class="card-text"      id="difference10"></p>
		        <div class="colorDot" id="color10">
		    	    <p>.</p>
		        </div>
			    <a id="linkBtn10" href="#" class="btn btn-primary">Visit<img  id="brand10" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>

			

		
 


	   <div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img id="img11" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"     id="phone11">iphone 11</h5>
			    <p class="card-text"      id="price11">Price: $7</p>
		        <p class="card-text"      id="difference11"></p>
		        <div class="colorDot" id="color11">
		    	    <p>.</p>
		        </div>
			    <a id="linkBtn11" href="#" class="btn btn-primary">Visit<img  id="brand11" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img id="img12" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone12">iphone 11</h5>
			    <p class="card-text"      id="price12">Price: $7</p>
		        <p class="card-text"      id="difference12"></p>
		        <div class="colorDot" id="color12">.</div>
			    <a id="linkBtn12" href="#" class="btn btn-primary">Visit<img  id="brand12" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>


			<div class="show-btn">
			  <a href="/templates/apple/apple.html" class="show-atag" >show more</a>
		    </div>

		



		<h3 class="title-txt">Samsung</h3>


		<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img id="img13" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone13">iphone 11</h5>
			    <p class="card-text"      id="price13">Price: $7</p>
		        <p class="card-text"      id="difference13"></p>
		        <div class="colorDot" id="color13">.</div>       
			    <a id="linkBtn13" href="#" class="btn btn-primary">Visit<img  id="brand13" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img id="img14" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"     id="phone14">iphone 11</h5>
			    <p class="card-text"      id="price14">Price: $7</p>
		        <p class="card-text"      id="difference14"></p>
		        <div class="colorDot" id="color14">.</div>
			    <a id="linkBtn14" href="#" class="btn btn-primary">Visit<img  id="brand14" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>

		<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img id="img15" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"       id="phone15">iphone 11</h5>
			    <p class="card-text"      id="price15">Price: $7</p>
		        <p class="card-text"      id="difference15"></p>
		        <div class="colorDot" id="color15">.</div>
			    <a id="linkBtn15" href="#" class="btn btn-primary">Visit<img  id="brand15" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img id="img16" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone16">iphone 11</h5>
			    <p class="card-text"      id="price16">Price: $7</p>
		        <p class="card-text"      id="difference16"></p>
		        <div class="colorDot" id="color16">.</div>
			    <a id="linkBtn16" href="#" class="btn btn-primary">Visit<img  id="brand16" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>

			

		<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img id="img17" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone17">iphone 11</h5>
			    <p class="card-text"      id="price17">Price: $7</p>
	            <p class="card-text"      id="difference17"></p>
		        <div class="colorDot" id="color17">.</div>
			    <a id="linkBtn17" href="#" class="btn btn-primary">Visit<img  id="brand17" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img id="img18" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone18">iphone 11</h5>
			    <p class="card-text"      id="price18">Price: $7</p>
	            <p class="card-text"      id="difference18"></p>
		        <div class="colorDot" id="color18">.</div>
			    <a id="linkBtn18" href="#" class="btn btn-primary">Visit<img  id="brand18" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>





			<div class="show-btn">
			  <a href="/templates/samsung/samsung.html" class="show-atag" >show more</a>
		    </div>

		






		<h3 class="title-txt">iphone se 2020</h3>




         <div id="box1" class="box"></div>
        <div id="box2" class="box"></div>
        <div id="box3" class="box"></div>
        <div id="box4" class="box"></div>
        <div id="box5" class="box"></div>
   


		<h3 class="title-txt">Search other</h3>

		<div class="list-box">
			<span>
			  <div class="img-div-opts">
				<a href="/templates/apple/iphone-11-pro.html"><img class="img-opts" src="https://m.media-amazon.com/images/I/81vZCv9kA0L.jpg"></a>
			  </div>
			  <p>iphone 11 pro</p>
		   </span>

		   <span>
			  <div class="img-div-opts" >
				<a href="/templates/apple/iphone-11.html"><img class="img-opts" src="https://m.media-amazon.com/images/I/71kZfQA-Y7L.jpg"></a>
			  </div>
			  <p>iphone 11</p>
		   </span>

		   <span>
			  <div  class="img-div-opts">
				<a href="/templates/samsung/samsung-a71.html" ><img id="img-opts-3" class="img-opts" src="https://i5.wal.co/asr/cc3a1f7b-39bd-4944-b433-96cc858ab457_1.c101fbec218ac0a842403bad3f397822.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff"></a>
			  </div>
			  <p>Samsung A71</p>
		   </span>

		   <span>
			  <div  class="img-div-opts">
				<a href= "/templates/apple/iphone-se-2020.html"><img class="img-opts" src="https://www.amazon.com/images/I/810DvHOZ9nL.jpg"></a>
			  </div>
			  <p>iphone se 2020</p>
		   </span>

		</div>


		<div class="show-btn">
			  <a href="/templates/list.html" class="show-atag" >show more</a>
		</div>


		<div class="box-specs">


     
          <img id="main-img" class="img-specs" src="https://www.amazon.com/images/I/810DvHOZ9nL.jpg">

       
          
        </div>


        <div class="specs">
          <p class="title-specs">Specs</p>
          <div class="spec-box">
            <div class="spec-itm">
              <img class="spec-img" src="https://img.icons8.com/wired/64/000000/full-screen.png"/>
              <p class="spec-title">display</p>                
            </div>

            <p class="spec-value">4.7 inch</p>

                
          </div>



          <div class="spec-box">
            <div class="spec-itm">
              <img class="spec-img" src="https://img.icons8.com/carbon-copy/100/000000/smartphone-ram.png"/>
              <p class="spec-title">Ram</p>                
            </div>

            <p class="spec-value">3 Gb</p>    
          </div>



          <div class="spec-box">
            <div class="spec-itm">
              <img class="spec-img"  src="https://img.icons8.com/ios/100/000000/micro-sd.png"/>/
              <p class="spec-title">Storage</p>                
            </div>
            <span>
            <p class="spec-value">64 Gb</p> 
            <p class="spec-value">128 Gb</p>    
            <p class="spec-value">256 Gb</p>   
            </span>
               

          </div>


          <div class="spec-box">
            <div class="spec-itm">
              <img class="spec-img" src="https://img.icons8.com/ios/50/000000/camera.png"/>
              <p class="spec-title">Camera</p>                
            </div>

            <span>
            <p class="note">Main Camera </p>   
            <p class="spec-value">12MP </p> 
            <p class="note">ƒ/1.8</p>
            <p class="note">Front Camera </p>       
            <p class="spec-value">7MP</p>
            <p class="note">ƒ/2.2 </p>
              
            </span>    
          </div>


          <div class="spec-box">
            <div class="spec-itm">
              <img class="spec-img" src="https://img.icons8.com/ios-filled/50/000000/battery-.png"/>
              <p class="spec-title">Battery</p>                
            </div>
            <span>
            <p class="spec-value">1821 MaH</p> 
            <p class="note">video playback:</p>
            <p class="note">up to 13 hours</p>
            <p class="note">audio playback:</p>
            <p class="note">up to 13 hours</p>

            </span>
              


          </div>


          <div class="spec-box">
            <div class="spec-itm">
              <img class="spec-img" src="https://img.icons8.com/ios/50/000000/processor.png"/>
              <p class="spec-title">processor</p>                
            </div>
            <span>
             <p class="spec-value">A13</p>
            <p class="note">bionic chip</p>
            <p class="note">The same as iphone 11</p>
              
            </span>
           

          </div>


          <div class="spec-box">
            <div class="spec-itm">
              <img class="spec-img" src="https://img.icons8.com/ios/100/000000/ios-logo.png"/>
              <p class="spec-title">OS</p>                
            </div>

            <p class="spec-value">IOS 14</p>    
          </div>


          <div class="spec-box">
            <div class="spec-itm">
              <img class="spec-img" src="https://img.icons8.com/windows/100/000000/weight-1.png"/>
              <p class="spec-title">weight</p>                
            </div>

            <p class="spec-value">148 g</p>    
          </div>


          <div class="spec-box">
            <div class="spec-itm">
              <img class="spec-img"  src="https://img.icons8.com/dotty/80/000000/paint-bucket.png"/>
              <p class="spec-title">colour</p>                
            </div>

            <div class="color-list">


            <div class="color" style="background-color: red;">
              .
            </div> 
            <div class="color" style="background-color: black;">
              .
            </div> 
            <div class="color" id="color3">
              .
            </div>  
              
            </div>

          </div>


           <div class="spec-box">
            <div class="spec-itm">
              <img class="spec-img" src="https://img.icons8.com/cotton/256/000000/us-dollar--v1.png"/>
              <p class="spec-title">price</p>                
            </div>
            <span>
              <p class="note">starting price</p>     
            <p class="spec-value">₹ 42,500 </p>
                  

            </span>
               
          </div>

              <p class="note">Icons Source:    <a href="https://icons8.com/">   Icons8.com</a></p>     






          
          
        </div>

       



     

        <h3 class="title-txt">Search other</h3>

		<div class="list-box">
			<span>
			  <div class="img-div-opts">
				<a href="/specs/apple/iphone-11-pro.html"><img class="img-opts" src="https://m.media-amazon.com/images/I/81vZCv9kA0L.jpg"></a>
			  </div>
			  <p>iphone 11 pro</p>
		   </span>

		   <span>
			  <div class="img-div-opts" >
				<a href="/specs/apple/iphone-11.html"><img class="img-opts" src="https://m.media-amazon.com/images/I/71kZfQA-Y7L.jpg"></a>
			  </div>
			  <p>iphone 11</p>
		   </span>

		   <span>
			  <div  class="img-div-opts">
				<a href="/specs/samsung/samsung-a71.html" ><img id="img-opts-3" class="img-opts" src="https://i5.wal.co/asr/cc3a1f7b-39bd-4944-b433-96cc858ab457_1.c101fbec218ac0a842403bad3f397822.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff"></a>
			  </div>
			  <p>Samsung A71</p>
		   </span>

		   <span>
			  <div  class="img-div-opts">
				<a href= "/specs/apple/iphone-se-2020.html"><img class="img-opts" src="https://www.amazon.com/images/I/810DvHOZ9nL.jpg"></a>
			  </div>
			  <p>iphone se 2020</p>
		   </span>

		</div>


		<div class="show-btn">
			  <a href="/specs/list.html" class="show-atag" >show more</a>
		</div>

        










				<h5 class="search-title">Select other country</h5>

				<div class="country-list"> 
					
					   <a class="dropdown-item" href="/index.html"><img class="country-img" src="https://img.icons8.com/color/48/000000/globe--v1.png"/><p class="country-name">World</p></a>

					   <a class="dropdown-item" href="/spain/spain.html"><img class="country-img" src="https://img.icons8.com/cute-clipart/64/000000/spain-2.png"/><p class="country-name">Spain</p></a>
					    <a class="dropdown-item" href="/usa/usa.html"><img class="country-img" src="https://img.icons8.com/cute-clipart/64/000000/usa.png"/><p class="country-name">Usa</p></a>
				</div>


				<div class="footer">.
					
				</div>









			

















		
			
		
		
		
        
			












		




































		<script src="/js/india/app.js"></script>


      <script type="text/javascript">
      	var flipkart = [

      	{ 'name' : 'iphone xs max 256-gb ' , 'normalPrice' : ' 124900 ' , 'color' : ' gold ' , 'price' : ' ₹78,999' , 'difference' : ' 45901 ' , 'percent' : ' 37 ' , 'brand' : 'f' , 'linkUrl' : ' https://www.flipkart.com/apple-iphone-xs-max-gold-256-gb/p/itmf944ecwawf7ds?pid=MOBF944EHFZFGYRF&lid=LSTMOBF944EHFZFGYRFIOUPZV&marketplace=FLIPKART&srno=s_1_9&otracker=search&otracker1=search&fm=SEARCH&iid=c1a98992-9897-45c2-a851-5eff739564d0.MOBF944EHFZFGYRF.SEARCH&ppt=sp&ppn=sp&ssid=y23jif04000000001594486505708&qH=4590cc992a575b54 ' , 'img': ' https://rukminim1.flixcart.com/image/416/416/jm9hfgw0/mobile/e/8/s/apple-iphone-xs-max-mt522hn-a-original-imaf97f6hmng8ufu.jpeg?q=70 '},
      	{ 'name' : 'iphone xs max 256-gb ' , 'normalPrice' : ' 124900 ' , 'color' : ' silver ' , 'price' : ' ₹78,999' , 'difference' : ' 45901 ' , 'percent' : ' 37 ' , 'brand' : 'f' , 'linkUrl' : ' https://www.flipkart.com/apple-iphone-xs-max-silver-256-gb/p/itmfd9j86y4dedrf?pid=MOBF944EXGAJFC2J&lid=LSTMOBF944EXGAJFC2JYI7PLF&marketplace=FLIPKART&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=c1a98992-9897-45c2-a851-5eff739564d0.MOBF944EXGAJFC2J.SEARCH&ppt=sp&ppn=sp&ssid=y23jif04000000001594486505708&qH=4590cc992a575b54 ' , 'img': ' https://rukminim1.flixcart.com/image/416/416/jm9hfgw0/mobile/c/2/j/apple-iphone-xs-max-mt542hn-a-original-imaf97f6n9eg9be4.jpeg?q=70 '},
      	{ 'name' : 'iphone xs max 64-gb ' , 'normalPrice' : ' 109900 ' , 'color' : ' silver ' , 'price' : ' ₹73,999' , 'difference' : ' 35901 ' , 'percent' : ' 33 ' , 'brand' : 'f' , 'linkUrl' : ' https://www.flipkart.com/apple-iphone-xs-max-silver-64-gb/p/itmf944ehzsh7emx?pid=MOBF944E2XAHW8V5&lid=LSTMOBF944E2XAHW8V5WEPOM1&marketplace=FLIPKART&srno=s_1_5&otracker=search&otracker1=search&fm=SEARCH&iid=c1a98992-9897-45c2-a851-5eff739564d0.MOBF944E2XAHW8V5.SEARCH&ppt=sp&ppn=sp&ssid=y23jif04000000001594486505708&qH=4590cc992a575b54 ' , 'img': ' https://rukminim1.flixcart.com/image/416/416/jm9hfgw0/mobile/c/2/j/apple-iphone-xs-max-mt542hn-a-original-imaf97f6n9eg9be4.jpeg?q=70 '},
      	{ 'name' : 'Samsung galaxy S10 128 gb ' , 'normalPrice' : ' 71000 ' , 'color' : ' blue ' , 'price' : ' ₹57,800' , 'difference' : ' 13200 ' , 'percent' : ' 19 ' , 'brand' : 'f' , 'linkUrl' : ' https://www.flipkart.com/samsung-galaxy-s10-prism-blue-128-gb/p/itmfdyp6pajfhsvf?pid=MOBFDNHAYZYR5VXE&lid=LSTMOBFDNHAYZYR5VXEY81WFW&marketplace=FLIPKART&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=945c9a32-edd3-4071-91fa-670b13dea833.MOBFDNHAYZYR5VXE.SEARCH&ppt=sp&ppn=sp&ssid=hn6tb0raww0000001594630424476&qH=27d889be8a04837b ' , 'img': 'https://rukminim1.flixcart.com/image/416/416/jsdj8nk0/mobile/v/x/e/samsung-galaxy-s10-sm-g973fzbdins-original-imafdys4uccfgw2m.jpeg?q=70 '},
      	{ 'name' : 'Samsung galaxy S10 plus 128 gb ' , 'normalPrice' : ' 68900 ' , 'color' : ' white ' , 'price' : ' ₹59,900' , 'difference' : ' 9000 ' , 'percent' : ' 13 ' , 'brand' : 'f' , 'linkUrl' : ' https://www.flipkart.com/samsung-galaxy-s10-plus-prism-white-128-gb/p/itmfdyp6hggycfat?pid=MOBFDNHATGJSGGWS&lid=LSTMOBFDNHATGJSGGWSNN8EHW&marketplace=FLIPKART&srno=s_1_19&otracker=search&otracker1=search&fm=SEARCH&iid=945c9a32-edd3-4071-91fa-670b13dea833.MOBFDNHATGJSGGWS.SEARCH&ppt=sp&ppn=sp&ssid=hn6tb0raww0000001594630424476&qH=27d889be8a04837b ' , 'img': 'https://rukminim1.flixcart.com/image/352/352/jsdj8nk0/mobile/g/w/s/samsung-galaxy-s10-plus-sm-g975fzwdins-original-imafdys4gk87fmwt.jpeg?q=70 '},
      	{ 'name' : 'Samsung galaxy S20 ultra 128 gb ' , 'normalPrice' : ' 103000 ' , 'color' : ' grey ' , 'price' : ' ₹97,999' , 'difference' : ' 5001 ' , 'percent' : ' 5 ' , 'brand' : 'f' , 'linkUrl' : ' https://www.flipkart.com/samsung-galaxy-s20-ultra-cosmic-gray-128-gb/p/itma25b4687846b4?pid=MOBFZXZ22CWZ2JZB&lid=LSTMOBFZXZ22CWZ2JZB7GKWML&marketplace=FLIPKART&srno=s_1_6&otracker=search&otracker1=search&fm=SEARCH&iid=350d0d33-a6ef-477b-9376-bbb19f01afa4.MOBFZXZ22CWZ2JZB.SEARCH&ppt=sp&ppn=sp&ssid=n2pzoo56tc0000001594631070139&qH=cff850f16499e786 ' , 'img': 'https://rukminim1.flixcart.com/image/352/352/k6mibgw0/mobile/j/z/b/samsung-galaxy-s20-ultra-sm-g988bzapinu-original-imafpfkb6mkgyegk.jpeg?q=70 '},















     ];



     var amazon = [
    { 'name' : 'iPhone 7 Plus (128GB) ' , 'normalPrice' : ' 72060 ' , 'color' : ' #efc6c0 ' , 'price' : ' ₹ 35,999.00' , 'difference' : ' 36061 ' , 'percent' : ' 50 ' , 'brand' : 'a' , 'linkUrl' : ' https://www.amazon.in/Apple-iPhone-Plus-Rose-128GB/dp/B01LXMHIOY?ref_=ast_sto_dp ' , 'img': ' https://images-na.ssl-images-amazon.com/images/I/51ilvCMNWCL._SL1024_.jpg '},


     { 'name' : 'Apple Watch Series 4 (GPS + Cellular, 44mm) ' , 'normalPrice' : ' 52900 ' , 'color' : ' grey ' , 'price' : ' ₹ 29,900.00' , 'difference' : ' 23000 ' , 'percent' : ' 43 ' , 'brand' : 'a' , 'linkUrl' : ' https://www.amazon.in/Apple-Watch-GPS-Cellular-44mm-Aluminium/dp/B07J9MV4BV?ref_=ast_sto_dp ' , 'img': ' https://images-na.ssl-images-amazon.com/images/I/516H6EsVu2L._SY679_.jpg'},
     { 'name' : 'iPhone 11 Pro (256GB) ' , 'normalPrice' : ' 121300 ' , 'color' : ' green ' , 'price' : ' ₹ 1,02,300.00' , 'difference' : ' 19000 ' , 'percent' : ' 16 ' , 'brand' : 'a' , 'linkUrl' : ' https://www.amazon.in/Apple-iPhone-11-Pro-256GB/dp/B07XVMCLP3?ref_=ast_sto_dp ' , 'img': ' https://images-na.ssl-images-amazon.com/images/I/61itOh%2BJe8L._SL1024_.jpg'},
     { 'name' : 'Samsung Galaxy A21s (64 GB) ' , 'normalPrice' : ' 17999 ' , 'color' : ' black ' , 'price' : ' ₹ 14,998.00' , 'difference' : ' 3001 ' , 'percent' : ' 17 ' , 'brand' : 'a' , 'linkUrl' : ' https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B086KCBK16/ref=sr_1_5?dchild=1&keywords=a21&qid=1594738429&s=electronics&sr=1-5 ' , 'img': 'https://images-na.ssl-images-amazon.com/images/I/81-5NsP8laL._SL1500_.jpg '},
     { 'name' : 'Samsung Galaxy A21s (64 GB) ' , 'normalPrice' : ' 17999 ' , 'color' : ' blue ' , 'price' : ' ₹ 14,998.00' , 'difference' : ' 3001 ' , 'percent' : ' 17 ' , 'brand' : 'a' , 'linkUrl' : ' https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B086KC85W8/ref=sr_1_3?dchild=1&keywords=a21&qid=1594738429&s=electronics&sr=1-3 ' , 'img': 'https://images-na.ssl-images-amazon.com/images/I/81-5NsP8laL._SL1500_.jpg '},
     { 'name' : 'Samsung Galaxy A51 (128 GB) ' , 'normalPrice' : ' 27999 ' , 'color' : ' blue ' , 'price' : ' ₹ 23,999.00' , 'difference' : ' 4000 ' , 'percent' : ' 14 ' , 'brand' : 'a' , 'linkUrl' : ' https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B07X9YMW7S/ref=sr_1_5?dchild=1&keywords=a71&qid=1594738205&s=electronics&sr=1-5 ' , 'img': 'https://images-na.ssl-images-amazon.com/images/I/815-Kg258tL._SL1500_.jpg '},













     ];

         phoneData2(7, 0, flipkart); 
         phoneData2(9, 1, flipkart); 
         phoneData2(11, 2, flipkart);

         phoneData2(8, 0, amazon); 
         phoneData2(10, 1, amazon); 
         phoneData2(12, 2, amazon); 


         phoneData2(13, 3, flipkart); 
         phoneData2(15, 4, flipkart); 
         phoneData2(17, 5, flipkart);

         phoneData2(14, 3, amazon); 
         phoneData2(16, 4, amazon); 
         phoneData2(18, 5, amazon); 



         phoneData2(1, 0, flipkart); 
         phoneData2(3, 1, flipkart); 
         phoneData2(5, 3, flipkart);

         phoneData2(2, 0, amazon); 
         phoneData2(4, 3, amazon); 
         phoneData2(6, 4, amazon); 




























var i =1;
for (i=1 ; i<6; i++){
        elementJS(i);
}





  fetch('/json/india/flipkart.json')
  .then(res => res.json())
  .then((json) => {

      phoneData(1,42 , json , "f" ,  42500 , "iPhone SE 2020 (Red, 64 GB)" , "https://rukminim1.flixcart.com/image/416/416/k9loccw0/mobile/6/8/g/apple-iphone-se-mxvv2hn-a-original-imafrcqmfxhcrpsb.jpeg?q=70");
      phoneData(2, 43 , json , "f" , 47800 , "iPhone SE 2020 (White, 128 GB)" , "https://rukminim1.flixcart.com/image/416/416/k9loccw0/mobile/6/b/z/apple-iphone-se-mxd12hn-a-original-imafrcqfsuzwa3dz.jpeg?q=70");
      phoneData(3, 44 , json , "f" , 58300 , "iPhone SE 2020 (Black, 256 GB)" , "https://rukminim1.flixcart.com/image/416/416/k9loccw0/mobile/p/z/q/apple-iphone-se-mxd02hn-a-original-imafrcpjfehbbqgb.jpeg?q=70");
      phoneData(4, 42 , json , "f" , 42500 , "iPhone SE 2020 (Black, 64 GB)" , "https://rukminim1.flixcart.com/image/416/416/k9loccw0/mobile/p/z/q/apple-iphone-se-mxd02hn-a-original-imafrcpjfehbbqgb.jpeg?q=70");
      document.getElementById("link4").href = "https://www.flipkart.com/apple-iphone-se-black-64-gb/p/itm832dd5963a08d?pid=MOBFRFXHCKWDAC4A&lid=LSTMOBFRFXHCKWDAC4AEQROVZ&marketplace=FLIPKART&sattr[]=color&sattr[]=storage&st=color&otracker=AS_QueryStore_OrganicAutoSuggest_1_9_na_na_na";

      phoneData(5, 42 , json , "f" , 42500 , "iPhone SE 2020 (White, 64 GB)" , "https://rukminim1.flixcart.com/image/416/416/k9loccw0/mobile/6/b/z/apple-iphone-se-mxd12hn-a-original-imafrcqfsuzwa3dz.jpeg?q=70");
      document.getElementById("link5").href = "https://www.flipkart.com/apple-iphone-se-white-64-gb/p/itmaf546e27c4eaf?pid=MOBFRFXHMEZRCXRV&lid=LSTMOBFRFXHMEZRCXRVDHSVH1&marketplace=FLIPKART&sattr[]=color&sattr[]=storage&st=color";

    

  }) 

autocomplete(document.getElementById("myInput"), countries);
  





      </script>


      <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>





       


    

		

		





		

		
		


    
    
 
    </body>
    
</html> 	



