<!DOCTYPE html>
<html>
<head>
	<title>Top Deals</title>

	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/brands.css">
</head>
<body>

	 <div class="nav">
    	 	<a href="/templates/india.html"><img class="back" src="https://img.icons8.com/windows/96/000000/long-arrow-left.png"/></a>
    	 </div>


		<h3 class="title-txt">Top deals</h3>
	<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img id="img1" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"    id="phone1">iphone 11</h5>
			    <p class="card-text"      id="price1">Price: $7</p>
			    <p class="card-text"      id="difference1"></p>
			    <div class="colorDot" id="color1">
			    	<p>.</p>
			    </div>

			    <a id="linkBtn1" href="#" class="btn btn-primary">Visit<img  id="brand1" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img  id="img2" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"    id="phone2">iphone 11</h5>
			    <p class="card-text"      id="price2">Price: $799</p>
                <p class="card-text"      id="difference2"></p>
                <div class="colorDot" id="color2">
			    	<p>.</p>
			    </div>

			    <a  id="linkBtn2" href="#" class="btn btn-primary">Visit<img  id="brand2" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>


		<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img  id="img3"  src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"    id="phone3">iphone 11</h5>
			    <p class="card-text"      id="price3">Price: $799</p>
			    <p class="card-text"      id="difference3"></p>
			    <div class="colorDot" id="color3">
			    	<p>.</p>
			    </div>

			    <a id="linkBtn3" href="#" class="btn btn-primary">Visit<img  id="brand3" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img   id="img4" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"    id="phone4">iphone 11</h5>
			    <p class="card-text"      id="price4">Price: $7</p>
			    <p class="card-text"      id="difference4"></p>
			    <div class="colorDot" id="color4">
			    	<p>.</p>
			    </div>

			    <a  id="linkBtn4" href="#" class="btn btn-primary">Visit<img  id="brand4" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>
		


		<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img  id="img5"  src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone5">iphone 11</h5>
			    <p class="card-text"        id="price5">Price: $7</p>
			    <p class="card-text"        id="difference5"></p>
			    <div class="colorDot" id="color5">
			    	<p>.</p>
			    </div>
                <a  id="linkBtn5" href="#" class="btn btn-primary">Visit<img  id="brand5" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img  id="img6" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone6">iphone 11</h5>
			    <p class="card-text"      id="price6">Price: $7</p>
			    <p class="card-text"      id="difference6"></p>
			    <div class="colorDot" id="color6">
			    	<p>.</p>
			    </div>
			    <a  id="linkBtn6" href="#" class="btn btn-primary">Visit<img  id="brand6" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>

		

			

		<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img id="img7" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"     id="phone7">iphone 11</h5>
			    <p class="card-text"      id="price7">Price: $7</p>
		        <p class="card-text"      id="difference7"></p>
		        <div class="colorDot" id="color7">
		    	    <p>.</p>
		        </div>
			    <a  id="linkBtn7" href="#" class="btn btn-primary">Visit<img  id="brand7" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img id="img8" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone8">iphone 11</h5>
			    <p class="card-text"      id="price8">Price: $7</p>
		        <p class="card-text"      id="difference8"></p>
		        <div class="colorDot" id="color8">
		    	    <p>.</p>
		        </div>
			    <a  id="linkBtn8" href="#" class="btn btn-primary">Visit<img  id="brand8" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>
			


		<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img  id="img9" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone9">iphone 11</h5>
			    <p class="card-text"      id="price9">Price: $7</p>
		        <p class="card-text"      id="difference9"></p>
		        <div class="colorDot" id="color9">
		    	    <p>.</p>
		        </div> 
			    <a id="linkBtn9" href="#" class="btn btn-primary">Visit<img  id="brand9" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img   id="img10" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"       id="phone10">iphone 11</h5>
			    <p class="card-text"      id="price10">Price: $7</p>
		        <p class="card-text"      id="difference10"></p>
		        <div class="colorDot" id="color10">
		    	    <p>.</p>
		        </div>
			    <a id="linkBtn10" href="#" class="btn btn-primary">Visit<img  id="brand10" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>


		<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img  id="img11" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone11">iphone 11</h5>
			    <p class="card-text"      id="price11">Price: $7</p>
		        <p class="card-text"      id="difference11"></p>
		        <div class="colorDot" id="color11">
		    	    <p>.</p>
		        </div> 
			    <a id="linkBtn11" href="#" class="btn btn-primary">Visit<img  id="brand11" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img   id="img12" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"       id="phone12">iphone 11</h5>
			    <p class="card-text"      id="price12">Price: $7</p>
		        <p class="card-text"      id="difference12"></p>
		        <div class="colorDot" id="color12">
		    	    <p>.</p>
		        </div>
			    <a id="linkBtn12" href="#" class="btn btn-primary">Visit<img  id="brand12" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>

		<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img  id="img13" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone13">iphone 11</h5>
			    <p class="card-text"      id="price13">Price: $7</p>
		        <p class="card-text"      id="difference13"></p>
		        <div class="colorDot" id="color13">
		    	    <p>.</p>
		        </div> 
			    <a id="linkBtn13" href="#" class="btn btn-primary">Visit<img  id="brand13" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img   id="img14" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"       id="phone14">iphone 11</h5>
			    <p class="card-text"      id="price14">Price: $7</p>
		        <p class="card-text"      id="difference14"></p>
		        <div class="colorDot" id="color14">
		    	    <p>.</p>
		        </div>
			    <a id="linkBtn14" href="#" class="btn btn-primary">Visit<img  id="brand14" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>

		<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img  id="img15" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone15">iphone 11</h5>
			    <p class="card-text"      id="price15">Price: $7</p>
		        <p class="card-text"      id="difference15"></p>
		        <div class="colorDot" id="color15">
		    	    <p>.</p>
		        </div> 
			    <a id="linkBtn15" href="#" class="btn btn-primary">Visit<img  id="brand15" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img   id="img16" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"       id="phone16">iphone 11</h5>
			    <p class="card-text"      id="price16">Price: $7</p>
		        <p class="card-text"      id="difference16"></p>
		        <div class="colorDot" id="color16">
		    	    <p>.</p>
		        </div>
			    <a id="linkBtn16" href="#" class="btn btn-primary">Visitre<img  id="brand16" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>

		<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img  id="img17" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone17">iphone 11</h5>
			    <p class="card-text"      id="price17">Price: $7</p>
		        <p class="card-text"      id="difference17"></p>
		        <div class="colorDot" id="color17">
		    	    <p>.</p>
		        </div> 
			    <a id="linkBtn17" href="#" class="btn btn-primary">Visit<img  id="brand17" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img   id="img18" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"       id="phone18">iphone 11</h5>
			    <p class="card-text"      id="price18">Price: $7</p>
		        <p class="card-text"      id="difference18"></p>
		        <div class="colorDot" id="color18">
		    	    <p>.</p>
		        </div>
			    <a id="linkBtn18" href="#" class="btn btn-primary">Visit<img  id="brand18" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>

		<div class="top-deals">

			<div class="card" style="width: 18rem;">
			  <img  id="img19" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"      id="phone19">iphone 11</h5>
			    <p class="card-text"      id="price19">Price: $7</p>
		        <p class="card-text"      id="difference19"></p>
		        <div class="colorDot" id="color19">
		    	    <p>.</p>
		        </div> 
			    <a id="linkBtn19" href="#" class="btn btn-primary">Visit<img  id="brand19" class="brandlogo" src=""></a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img   id="img20" src="" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"       id="phone20">iphone 11</h5>
			    <p class="card-text"      id="price20">Price: $7</p>
		        <p class="card-text"      id="difference20"></p>
		        <div class="colorDot" id="color20">
		    	    <p>.</p>
		        </div>
			    <a id="linkBtn20" href="#" class="btn btn-primary">Visit<img  id="brand20" class="brandlogo" src=""></a>
			  </div>
			</div>

		</div>


				<div class="footer">.</div>
					<script src="/js/india/app.js"></script>


      <script type="text/javascript">
      	var flipkart = [

      	{ 'name' : 'iphone xs max 256-gb ' , 'normalPrice' : ' 124900 ' , 'color' : ' gold ' , 'price' : ' ₹78,999' , 'difference' : ' 45901 ' , 'percent' : ' 37 ' , 'brand' : 'f' , 'linkUrl' : ' https://www.flipkart.com/apple-iphone-xs-max-gold-256-gb/p/itmf944ecwawf7ds?pid=MOBF944EHFZFGYRF&lid=LSTMOBF944EHFZFGYRFIOUPZV&marketplace=FLIPKART&srno=s_1_9&otracker=search&otracker1=search&fm=SEARCH&iid=c1a98992-9897-45c2-a851-5eff739564d0.MOBF944EHFZFGYRF.SEARCH&ppt=sp&ppn=sp&ssid=y23jif04000000001594486505708&qH=4590cc992a575b54 ' , 'img': ' https://rukminim1.flixcart.com/image/416/416/jm9hfgw0/mobile/e/8/s/apple-iphone-xs-max-mt522hn-a-original-imaf97f6hmng8ufu.jpeg?q=70 '},
      	{ 'name' : 'iphone xs max 256-gb ' , 'normalPrice' : ' 124900 ' , 'color' : ' silver ' , 'price' : ' ₹78,999' , 'difference' : ' 45901 ' , 'percent' : ' 37 ' , 'brand' : 'f' , 'linkUrl' : ' https://www.flipkart.com/apple-iphone-xs-max-silver-256-gb/p/itmfd9j86y4dedrf?pid=MOBF944EXGAJFC2J&lid=LSTMOBF944EXGAJFC2JYI7PLF&marketplace=FLIPKART&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=c1a98992-9897-45c2-a851-5eff739564d0.MOBF944EXGAJFC2J.SEARCH&ppt=sp&ppn=sp&ssid=y23jif04000000001594486505708&qH=4590cc992a575b54 ' , 'img': ' https://rukminim1.flixcart.com/image/416/416/jm9hfgw0/mobile/c/2/j/apple-iphone-xs-max-mt542hn-a-original-imaf97f6n9eg9be4.jpeg?q=70 '},
      	{ 'name' : 'iphone xs max 64-gb ' , 'normalPrice' : ' 109900 ' , 'color' : ' silver ' , 'price' : ' ₹73,999' , 'difference' : ' 35901 ' , 'percent' : ' 33 ' , 'brand' : 'f' , 'linkUrl' : ' https://www.flipkart.com/apple-iphone-xs-max-silver-64-gb/p/itmf944ehzsh7emx?pid=MOBF944E2XAHW8V5&lid=LSTMOBF944E2XAHW8V5WEPOM1&marketplace=FLIPKART&srno=s_1_5&otracker=search&otracker1=search&fm=SEARCH&iid=c1a98992-9897-45c2-a851-5eff739564d0.MOBF944E2XAHW8V5.SEARCH&ppt=sp&ppn=sp&ssid=y23jif04000000001594486505708&qH=4590cc992a575b54 ' , 'img': ' https://rukminim1.flixcart.com/image/416/416/jm9hfgw0/mobile/c/2/j/apple-iphone-xs-max-mt542hn-a-original-imaf97f6n9eg9be4.jpeg?q=70 '},
      	{ 'name' : 'Apple watch series 4 gps cellular 44 mm ' , 'normalPrice' : ' 52900 ' , 'color' : ' gold ' , 'price' : ' ₹23,900' , 'difference' : ' 29000 ' , 'percent' : ' 55 ' , 'brand' : 'f' , 'linkUrl' : ' https://www.flipkart.com/apple-watch-series-3-42-mm-silver-aluminum-white-sport-band-gps/p/itm0af8fb58c02b9?pid=SMWF94AYH8F2CEXR&lid=LSTSMWF94AYH8F2CEXR0SSOZ1&marketplace=FLIPKART&srno=s_1_3&otracker=AS_QueryStore_OrganicAutoSuggest_2_15_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_15_na_na_na&fm=SEARCH&iid=14e00d45-b6bf-403e-aa7b-1c671a0b74d5.SMWF94AYH8F2CEXR.SEARCH&ppt=sp&ppn=sp&ssid=un07k1q26o0000001594647064108&qH=94474192f43f18c6 ' , 'img': ' https://rukminim1.flixcart.com/image/416/416/jn4x47k0/smartwatch/7/x/5/mtvx2hn-a-apple-original-imaf9vc6hczx3ve8.jpeg?q=70 '},

    { 'name' : 'iphone xs 256-gb ' , 'normalPrice' : ' 103900 ' , 'color' : ' grey ' , 'price' : ' ₹76,999' , 'difference' : ' 26901 ' , 'percent' : ' 26 ' , 'brand' : 'f' , 'linkUrl' : ' https://www.flipkart.com/apple-iphone-xs-space-grey-256-gb/p/itmf944ekrw6mgzf?pid=MOBF944EWY4DHWUD&lid=LSTMOBF944EWY4DHWUDM6WKZC&marketplace=FLIPKART&srno=s_1_7&otracker=search&otracker1=search&fm=SEARCH&iid=39101cad-0626-4a2d-aee3-c1110ed23da8.MOBF944EWY4DHWUD.SEARCH&ppt=sp&ppn=sp&ssid=tw6o8lfj4g0000001594486318247&qH=25d150cd46c7b25c ' , 'img': ' https://rukminim1.flixcart.com/image/416/416/jm9hfgw0/mobile/y/4/u/apple-iphone-xs-mt9l2hn-a-original-imaf97f65bqbdycy.jpeg?q=70 '},


      	{ 'name' : 'Samsung galaxy S10 128 gb ' , 'normalPrice' : ' 71000 ' , 'color' : ' blue ' , 'price' : ' ₹57,800' , 'difference' : ' 13200 ' , 'percent' : ' 19 ' , 'brand' : 'f' , 'linkUrl' : ' https://www.flipkart.com/samsung-galaxy-s10-prism-blue-128-gb/p/itmfdyp6pajfhsvf?pid=MOBFDNHAYZYR5VXE&lid=LSTMOBFDNHAYZYR5VXEY81WFW&marketplace=FLIPKART&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=945c9a32-edd3-4071-91fa-670b13dea833.MOBFDNHAYZYR5VXE.SEARCH&ppt=sp&ppn=sp&ssid=hn6tb0raww0000001594630424476&qH=27d889be8a04837b ' , 'img': 'https://rukminim1.flixcart.com/image/416/416/jsdj8nk0/mobile/v/x/e/samsung-galaxy-s10-sm-g973fzbdins-original-imafdys4uccfgw2m.jpeg?q=70 '},
      	{ 'name' : 'Samsung galaxy S10 plus 128 gb ' , 'normalPrice' : ' 68900 ' , 'color' : ' white ' , 'price' : ' ₹59,900' , 'difference' : ' 9000 ' , 'percent' : ' 13 ' , 'brand' : 'f' , 'linkUrl' : ' https://www.flipkart.com/samsung-galaxy-s10-plus-prism-white-128-gb/p/itmfdyp6hggycfat?pid=MOBFDNHATGJSGGWS&lid=LSTMOBFDNHATGJSGGWSNN8EHW&marketplace=FLIPKART&srno=s_1_19&otracker=search&otracker1=search&fm=SEARCH&iid=945c9a32-edd3-4071-91fa-670b13dea833.MOBFDNHATGJSGGWS.SEARCH&ppt=sp&ppn=sp&ssid=hn6tb0raww0000001594630424476&qH=27d889be8a04837b ' , 'img': 'https://rukminim1.flixcart.com/image/352/352/jsdj8nk0/mobile/g/w/s/samsung-galaxy-s10-plus-sm-g975fzwdins-original-imafdys4gk87fmwt.jpeg?q=70 '},
      	{ 'name' : 'Samsung galaxy S20 ultra 128 gb ' , 'normalPrice' : ' 103000 ' , 'color' : ' grey ' , 'price' : ' ₹97,999' , 'difference' : ' 5001 ' , 'percent' : ' 5 ' , 'brand' : 'f' , 'linkUrl' : ' https://www.flipkart.com/samsung-galaxy-s20-ultra-cosmic-gray-128-gb/p/itma25b4687846b4?pid=MOBFZXZ22CWZ2JZB&lid=LSTMOBFZXZ22CWZ2JZB7GKWML&marketplace=FLIPKART&srno=s_1_6&otracker=search&otracker1=search&fm=SEARCH&iid=350d0d33-a6ef-477b-9376-bbb19f01afa4.MOBFZXZ22CWZ2JZB.SEARCH&ppt=sp&ppn=sp&ssid=n2pzoo56tc0000001594631070139&qH=cff850f16499e786 ' , 'img': 'https://rukminim1.flixcart.com/image/352/352/k6mibgw0/mobile/j/z/b/samsung-galaxy-s20-ultra-sm-g988bzapinu-original-imafpfkb6mkgyegk.jpeg?q=70 '},
      	{ 'name' : 'Samsung galaxy S20 128 gb ' , 'normalPrice' : ' 83000 ' , 'color' : ' black ' , 'price' : ' ₹77,999' , 'difference' : ' 5001 ' , 'percent' : ' 6 ' , 'brand' : 'f' , 'linkUrl' : ' https://www.flipkart.com/samsung-galaxy-s20-cosmic-black-128-gb/p/itm1766e05e06464?pid=MOBFZXZ2GAFXSZUX&lid=LSTMOBFZXZ2GAFXSZUXAJXQPH&marketplace=FLIPKART&srno=s_1_4&otracker=search&otracker1=search&fm=SEARCH&iid=350d0d33-a6ef-477b-9376-bbb19f01afa4.MOBFZXZ2GAFXSZUX.SEARCH&ppt=sp&ppn=sp&ssid=n2pzoo56tc0000001594631070139&qH=cff850f16499e786 ' , 'img': 'https://rukminim1.flixcart.com/image/352/352/k6mibgw0/mobile/z/u/x/samsung-galaxy-s20-sm-g985fzkdinu-original-imafpfkbsxshxns2.jpeg?q=70 '},

         { 'name' : 'Samsung galaxy note 10 lite 128 gb ' , 'normalPrice' : ' 45000 ' , 'color' : ' black ' , 'price' : ' ₹39,999' , 'difference' : ' 5001 ' , 'percent' : ' 11 ' , 'brand' : 'f' , 'linkUrl' : ' https://www.flipkart.com/samsung-galaxy-note10-lite-aura-black-128-gb/p/itm0fb3acba72dfa?pid=MOBFZ4AJAZFZPZHA&lid=LSTMOBFZ4AJAZFZPZHAN2TNI1&marketplace=FLIPKART&srno=s_1_4&otracker=search&otracker1=search&fm=SEARCH&iid=4376c48d-5c23-4c36-af13-2acdc670f51b.MOBFZ4AJAZFZPZHA.SEARCH&ppt=sp&ppn=sp&ssid=flk1f8n88g0000001594630903808&qH=017d2ad43b48a2e3 ' , 'img': 'https://rukminim1.flixcart.com/image/352/352/k5r2mq80/mobile/z/h/a/samsung-galaxy-note10-lite-sm-n770fzkninu-original-imafzd7zycz3kjvh.jpeg?q=70 '},

















     ];



     var amazon = [
    { 'name' : 'iPhone 7 Plus (128GB) ' , 'normalPrice' : ' 72060 ' , 'color' : ' #efc6c0 ' , 'price' : ' ₹ 35,999.00' , 'difference' : ' 36061 ' , 'percent' : ' 50 ' , 'brand' : 'a' , 'linkUrl' : ' https://www.amazon.in/Apple-iPhone-Plus-Rose-128GB/dp/B01LXMHIOY?ref_=ast_sto_dp ' , 'img': ' https://images-na.ssl-images-amazon.com/images/I/51ilvCMNWCL._SL1024_.jpg '},


     { 'name' : 'Apple Watch Series 4 (GPS + Cellular, 44mm) ' , 'normalPrice' : ' 52900 ' , 'color' : ' grey ' , 'price' : ' ₹ 29,900.00' , 'difference' : ' 23000 ' , 'percent' : ' 43 ' , 'brand' : 'a' , 'linkUrl' : ' https://www.amazon.in/Apple-Watch-GPS-Cellular-44mm-Aluminium/dp/B07J9MV4BV?ref_=ast_sto_dp ' , 'img': ' https://images-na.ssl-images-amazon.com/images/I/516H6EsVu2L._SY679_.jpg'},
     { 'name' : 'iPhone 11 Pro (256GB) ' , 'normalPrice' : ' 121300 ' , 'color' : ' green ' , 'price' : ' ₹ 1,02,300.00' , 'difference' : ' 19000 ' , 'percent' : ' 16 ' , 'brand' : 'a' , 'linkUrl' : ' https://www.amazon.in/Apple-iPhone-11-Pro-256GB/dp/B07XVMCLP3?ref_=ast_sto_dp ' , 'img': ' https://images-na.ssl-images-amazon.com/images/I/61itOh%2BJe8L._SL1024_.jpg'},
     { 'name' : 'iPhone Xs Max (64GB) ' , 'normalPrice' : ' 109900 ' , 'color' : ' grey ' , 'price' : ' ₹ 93,906.00' , 'difference' : ' 15994 ' , 'percent' : ' 15 ' , 'brand' : 'a' , 'linkUrl' : ' https://www.amazon.in/Apple-iPhone-Xs-Max-64GB/dp/B07J3CJM4N?ref_=ast_sto_dp ' , 'img': ' https://images-na.ssl-images-amazon.com/images/I/61PNVNdEKfL._SL1000_.jpg'},

     { 'name' : 'Apple Watch Series 4 (GPS + Cellular, 40mm) ' , 'normalPrice' : ' 44999 ' , 'color' : ' steel ' , 'price' : ' ₹ 29,900.00' , 'difference' : ' 15099 ' , 'percent' : ' 34 ' , 'brand' : 'a' , 'linkUrl' : ' https://www.amazon.in/Apple-Watch-GPS-Cellular-40mm-Stainless/dp/B07JVYVS4N?ref_=ast_sto_dp ' , 'img': ' https://images-na.ssl-images-amazon.com/images/I/61B3buW1qqL._SL1000_.jpg'},

     { 'name' : 'Samsung Galaxy A21s (64 GB) ' , 'normalPrice' : ' 17999 ' , 'color' : ' black ' , 'price' : ' ₹ 14,998.00' , 'difference' : ' 3001 ' , 'percent' : ' 17 ' , 'brand' : 'a' , 'linkUrl' : ' https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B086KCBK16/ref=sr_1_5?dchild=1&keywords=a21&qid=1594738429&s=electronics&sr=1-5 ' , 'img': 'https://images-na.ssl-images-amazon.com/images/I/81-5NsP8laL._SL1500_.jpg '},
     { 'name' : 'Samsung Galaxy A21s (64 GB) ' , 'normalPrice' : ' 17999 ' , 'color' : ' blue ' , 'price' : ' ₹ 14,998.00' , 'difference' : ' 3001 ' , 'percent' : ' 17 ' , 'brand' : 'a' , 'linkUrl' : ' https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B086KC85W8/ref=sr_1_3?dchild=1&keywords=a21&qid=1594738429&s=electronics&sr=1-3 ' , 'img': 'https://images-na.ssl-images-amazon.com/images/I/81-5NsP8laL._SL1500_.jpg '},
     { 'name' : 'Samsung Galaxy A51 (128 GB) ' , 'normalPrice' : ' 27999 ' , 'color' : ' blue ' , 'price' : ' ₹ 23,999.00' , 'difference' : ' 4000 ' , 'percent' : ' 14 ' , 'brand' : 'a' , 'linkUrl' : ' https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B07X9YMW7S/ref=sr_1_5?dchild=1&keywords=a71&qid=1594738205&s=electronics&sr=1-5 ' , 'img': 'https://images-na.ssl-images-amazon.com/images/I/815-Kg258tL._SL1500_.jpg '},
     { 'name' : 'Samsung Galaxy A51 (128 GB) ' , 'normalPrice' : ' 27999 ' , 'color' : ' black ' , 'price' : ' ₹ 23,990.00' , 'difference' : ' 4009 ' , 'percent' : ' 14 ' , 'brand' : 'a' , 'linkUrl' : ' https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B07X8V6TJF/ref=sr_1_2?dchild=1&keywords=a71&qid=1594738205&s=electronics&sr=1-2 ' , 'img': 'https://images-na.ssl-images-amazon.com/images/I/815-Kg258tL._SL1500_.jpg '},

    { 'name' : 'Samsung Galaxy A21s (64 GB) ' , 'normalPrice' : ' 17999 ' , 'color' : ' black ' , 'price' : ' ₹ 16,498.00' , 'difference' : ' 1501 ' , 'percent' : ' 8 ' , 'brand' : 'a' , 'linkUrl' : ' https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B086KCCKKW/ref=sr_1_8?dchild=1&keywords=a21&qid=1594738429&s=electronics&sr=1-8 ' , 'img': 'https://images-na.ssl-images-amazon.com/images/I/81-5NsP8laL._SL1500_.jpg '},















     ];




         phoneData2(1, 0, flipkart); 
         phoneData2(3, 5, flipkart); 
         phoneData2(5, 1, flipkart);
          phoneData2(7, 6, flipkart); 
         phoneData2(9, 2, flipkart); 
         phoneData2(11, 7, flipkart);
         phoneData2(13, 3, flipkart);
          phoneData2(15, 8, flipkart); 
         phoneData2(17, 4, flipkart); 
         phoneData2(19, 9, flipkart);

         phoneData2(2, 0, amazon); 
         phoneData2(4, 5, amazon); 
         phoneData2(6, 1, amazon); 
         phoneData2(8, 6, amazon); 
         phoneData2(10, 2, amazon); 
         phoneData2(12, 7, amazon); 
         phoneData2(14, 3, amazon); 
         phoneData2(16, 8, amazon); 
         phoneData2(18, 4, amazon); 
         phoneData2(20, 9, amazon); 






</script>





	
</body>
</html>